// Add variables here
@use "../abstracts/variables" as *;

// Add Colors here
body {
  // background-color: #f4f4f4;
  background-color: $web-wash !important;
  font-family: "Playfair Display", serif !important;
  // font-family: "Work Sans", sans-serif !important;
}

h1 {
  color: #ffffff;
}
h2,
h3,
h4,
h5,
h6 {
  color: $primary-text;
}
p {
  color: $primary-text;
}
